/* Estilo do Site - Conf. gerais do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    background-color: #fef9f6;
    height: 100vh;
    
}

.interface {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.flex {
    display: flex;

}

/* Eslilo do MENU */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: #000000c9;
    font-size: 20px;
    text-decoration: none;
    display: inline-block; /* para deixar com que o menor fique grande quando o mouse passar*/
}
header a:hover{
    color: #7e4aa4d2;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header .botao-ctt button{
    padding: 10px 40px;
    border-style: none;
    background-color: #7e4aa4d2;
    border-radius: 15px;
    color: #fef9f6;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}
header .botao-ctt button:hover {
    background-color: #7e4aa4b0;
    box-shadow: 6px 4px 5px 0px #00000036;
    
}

/* ESTILO DO TOPO */
section.topo-do-site {
    padding: 40 4%;
    padding-bottom: 150px;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /*gap:Use quando precisa
    dar Espaço entre as divs*/

   
}
.txt-topo-site h1  {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Bakbak One', sans-serif;
    letter-spacing: 7.255px;
    line-height: 65.776px;
    margin-top: 19px;
    
}
.txt-topo-site h1 span {
    font-family: 'Bakbak One', sans-serif;
    background-color: #FBB80F;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
   
}


main .botao-ctt button{
    padding: 15px 22px;
    border-style: none;
    background-color: #FBB80F;
    border-radius: 10px;
    color: #fef9f6;
    font-weight: 300;
    font-size: 30px;
    margin-top: 40px;
    box-shadow: 8px 6px 7px 0px rgba(83, 73, 73, 0.384);
    align-items: flex-start;
    width: 350px;
    cursor: pointer;
    
}
main .botao-ctt button:hover {
    background-color: #7e4aa4b0;
    box-shadow: 8px 6px 7px 0px #0000008a;
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative; /*a imagem so
    vai funcionar quando colocar como "relative"*/
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar { /*para que a imagen fique 
    flutuando ou qualque outro movimento*/
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}

/*Começo estilo "Razões"*/

section.razoes {
    padding-top: 40px 4%;
    background-color: #7e4aa4bd;
    text-transform: uppercase;
   
}
.razoes-box div{
    padding-top: 50px;
   
    
}
section.razoes .flex {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 5%;
    padding-bottom: 50px;

}

section h3{
    font-size: 30px;
    padding-top: 60px;
    color: #FBB80F;
    text-align: center;
    
        
}
h3 {
    font-family: 'Bakbak One', sans-serif;
    padding-bottom: 50px;
    
    
}
h3 span {
     color: #fef9f6;
     font-family: 'Bakbak One', sans-serif;
         
}
div i {
    color: #fef9f6;
    font-size: 20px;
 }
 div p {
    color: #fef9f6;
    font-size: 12px;
 }

/*Inicio estilo Portifólio*/

section.portfolio h3{
    font-size: 30px;
    padding-top: 60px;
    color: #7e4aa4;
    text-align: center;
            
}

.razoes-box.imagem-razao{
    position: relative;
    

}

