/* Estilo do Site - Conf. gerais do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    background-color: #fef9f6;
    height: 100vh;
    
}

.interface {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.flex {
    display: flex;

}

/* Eslilo do MENU */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5%;

}

header a{
    color: #000000c9;
    font-size: 20px;
    text-decoration: none;
    display: inline-block; /* para deixar com que o menor fique grande quando o mouse passar*/
}
header a:hover{
    color: #7e4aa4d2;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header .botao-ctt button{
    padding: 10px 40px;
    border-style: none;
    background-color: #7e4aa4d2;
    border-radius: 15px;
    color: #fef9f6;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}
header .botao-ctt button:hover {
    background-color: #7e4aa4b0;
    box-shadow: 6px 4px 5px 0px #00000036;
    
}

/* ESTILO DO TOPO */
section.topo-do-site {
    padding: 40 4%;
    padding-bottom: 150px;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /*gap:Use quando precisa
    dar Espaço entre as divs*/

   
}
.txt-topo-site h1  {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Bakbak One', sans-serif;
    letter-spacing: 7.255px;
    line-height: 65.776px;
    margin-top: 19px;
    
}
.txt-topo-site h1 span {
    font-family: 'Bakbak One', sans-serif;
    background-color: #FBB80F;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
   
}


main .botao-ctt button{
    padding: 15px 22px;
    border-style: none;
    background-color: #FBB80F;
    border-radius: 10px;
    color: #fef9f6;
    font-weight: 300;
    font-size: 30px;
    margin-top: 40px;
    box-shadow: 8px 6px 7px 0px rgba(83, 73, 73, 0.384);
    align-items: flex-start;
    width: 350px;
    cursor: pointer;
    
}
main .botao-ctt button:hover {
    background-color: #7e4aa4b0;
    box-shadow: 8px 6px 7px 0px #0000008a;
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative; /*a imagem so
    vai funcionar quando colocar como "relative"*/
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar { /*para que a imagen fique 
    flutuando ou qualque outro movimento*/
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}

/*Começo estilo "Razões"*/

section.razoes {
    padding-top: 40px 4%;
    background-color: #7e4aa4bd;
    text-transform: uppercase;
   
}
.razoes-box div{
    padding-top: 50px;
   
    
}
section.razoes .flex {
    justify-items: center;
    gap: 10%;
    padding-bottom: 50px;
    padding-right: 65px;

}

section h3{
    font-size: 30px;
    padding-top: 60px;
    color: #FBB80F;
    text-align: center;
    
        
}
h3 {
    font-family: 'Bakbak One', sans-serif;
    padding-bottom: 50px;
        
    
}
.interface h3 span {
     color: #fef9f6;
     font-family: 'Bakbak One', sans-serif;
         
}
div i {
    color: #fef9f6;
    font-size: 20px;
 }
div p {
    color: #fef9f6;
    font-size: 12px;
 }


/*Inicio estilo Portifólio*/

section.portfolio{
  padding: 80px 4%;  
}

section.portfolio h3{
    font-size: 30px;
    padding-top: 80px;
    color: #7e4aa4;
    text-align: center;
            
}
div.interface h3 {
    padding-bottom: 100px;
}

section.portfolio .flex {
   justify-content: space-around;
   padding-bottom: 80px;
}
.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 6px 4px 5px 0px #00000036;
    position: relative;
}

.projeto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #00000059 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fef9f6; 
    opacity: 0;   
    transition: .5s;
    

}

.projeto:hover {
    opacity: 1;
}
.img-port:hover {
    background-position: 100% 100%;

}

div.imagem-razao{ 
    width:600px; 
    height:500px;
     
}
.portfolio h3 {
   text-transform: uppercase;
  
    
}
.portfolio h3 span {
    color: #FBB80F;
    
}
.botao-port button {
    padding: 20px 40px;
    border-style: none;
    background-color: #FBB80F;
    border-radius: 10px;
    color: #fef9f6;
    align-items: center;
    font-size: 30px;
    
       
}
.botao-port {
    margin-left: 30%;
    
    
}

.botao-port button:hover {
    background-color: #7e4aa4b0;
    box-shadow: 8px 6px 7px 0px #0000008a;
    transform: scale(1.0);
    
}

/*estilo Serviços*/

section.servicos {
    padding: 80px 4%;
    background-color: #FBB80F;
}

.txt-servico {
    color: #7e4aa4;
    text-transform: uppercase;
}

.txt {
    display: inline-block;
    color: #7e4aa4;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 35px;
}

.botao-servico button {
    padding: 20px 30px;
    border-style: none;
    background: linear-gradient(0deg, #50048D 34.18%, #FFF 211.39%);
    border-radius: 10px;
    color: #fef9f6;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    margin-left: 30%;
    
       
}
.botao-servico button:hover {    
    color:#FBB80F;
    box-shadow: 8px 6px 7px 0px #0000008a;
    transform: scale(1.0);
    
}
section.contato h3 {
    font-size: 40px;
    padding-top: 80px;
    color: #7e4aa4;
    text-align: center;
    text-transform: uppercase;
}
section.contato p {
    font-size: 20px;  
    padding-bottom: 50px; 
    color: #7e4aa4;
    text-align: center;
    text-transform: uppercase;
}
.contato h3 span {
    color: #FBB80F;
    
}

/*Estilo Formulário*/

section.contato {
    padding: 80px 4%;
}
form {
    max-width: 500px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 10px 15px;    
    background-color: rgba(217, 217, 217, 0.60);
    border: none;
    outline: 0;
    border-radius: 20px;
    box-shadow: 0px 4.81955px 4.81955px 0px rgba(0, 0, 0, 0.25) inset;
        
}

textarea {    
    padding: 10px 15px;
    padding-bottom: 40px;    
    background-color: rgba(217, 217, 217, 0.60);
    border: none;
    outline: 0;
    border-radius: 20px;
    box-shadow: 0px 4.81955px 4.81955px 0px rgba(0, 0, 0, 0.25) inset;
    
}
.btn-enviar input {
    width: 100%;
    align-items: center; 
    border-style: none;
    background-color: #FBB80F;
    box-shadow: 7px 5px 6px 0px #00000034;
    border-radius: 10px;
    color:#50048D;      
    font-size: 20px;
    justify-content: center;
    
    
}
.btn-enviar input:hover {
    color:#fef9f6;
    box-shadow: 7px 5px 6px 0px #0000008a;
    transform: scale(1.0);

}

/*Estilo Rodapé */

section.rodape {
    padding: 20px 4%;    
    background-color: #7e4aa4;
}
section ul li {
    list-style-type: none;
    
    color: #fef9f6;
    
}

section.rodape li {
    display:inline-block;
    justify-content: center;
    margin-left: 100px;  

}

@media screen and (max-width:1090px) {
   /*Classe geral*/
   .flex {
    flex-direction: column;
   }
   .topo-do-site .flex {
    flex-direction: column-reverse;
   }
   /*Menu*/
   .menu-desktop, .botao-ctt {
    display: none;

   } 
   /*topo do site*/

   .txt-topo-site h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Bakbak One', sans-serif;
    letter-spacing: 6.255px;
    line-height: 45.776px;
    
   }
   .topo-do-site .img-topo-site img{    
    width: 500px;
    height: 400px;
}
section h3{
    font-size: 25px;
    padding-top: 60px;
    color: #FBB80F;
    text-align: center;
    
        
}
.imagem-razao img{ 
    padding-top: 70px;
    width:500px; 
    height:500px;
     
}
.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    
}
section.portfolio .flex {
    gap: 60px;
 }
 .botao-servico button {
    padding: 20px 30px;  
    font-size: 20px   
 }
 
 .txt {
    display: inline-block;
    color: #7e4aa4;
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 25px;
}

.botao-port button {
    padding: 20px 40px;
    font-size: 20px;
    text-align: center;
    
}

form input {
    padding: 12px 20px;    
    
        
}
       

    
}







    




